.con{
    display: -webkit-flex;
    width: 600px;
    height: 600px;
    background-color: green;
    -webkit-flex-direction: column;
}
.first{
    height: 100px;
    background-color: orange;
    -webkit-flex: 1;
}
#second{
    height: 100px;
    background-color: aquamarine;
    -webkit-flex: 1;
}
#three{
    height: 200px;
    background-color: #e3ff7f;
    -webkit-flex: 1;
}